

p {
    color: goldenrod;
}


.intro, .education {
    display: flex;
}

/* Intro */

.intro h1 {
    font-size: 50px;
}

.intro-photo {
    margin: 20px;
}





/* Education */

.education {
    justify-content: space-between;
    align-items: center;
}

.education li {
    list-style-type: none;
}

.edu-logo {
    height: 75%;
    width: 75%;
    display:block;
    position: relative;
}