
/* MAIN SECTION */

main {
    background-image: url(Images/Background.jpeg);
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    height:700px;
    font-size: 2.8vh;
}

.intro {
    margin-top: 50px;
    font-size: 25px;
    line-height: 0px;
    color: #D2E2EF;
    width:100%;
    padding:10px;

}

.who {
    margin-top: 100px;
}


.about, .project, .contact, .who {
    width: 550px;
    
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    background-color: rgba(33, 34, 39, .7);
    border-radius: 25px;
}


.about a, .project a, .contact a{
    color: #637074;
    text-decoration: underline;

}

@media screen and (max-width:768px) { 

    .about, .project, .contact, .who {
        width: 400px;
        
    }
}
